<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand"><i class="fas fa-home"></i></a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="categories" class="nav-link">Categorie</a>
        </li>
        <li class="nav-item">
          <a routerLink="Redevable" class="nav-link">Redevable</a>
        </li>
        <li class="nav-item">
          <a routerLink="taux" class="nav-link">Tauxs</a>
        </li>
        <li class="nav-item">
          <a routerLink="terrain" class="nav-link">Terrain</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3 flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 Votre Entreprise. Tous droits réservés.</p>
  </footer>
</div>
